/* Fonts */
:root {
  --default-font: "Poppins", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #ffffff;
  /* Background color for the entire website, including individual sections */
  --default-color: #898989;
  /* Default color used for the majority of the text content across the entire website */
  --heading-color: #777777;
  /* Color for headings, subheadings and title throughout the website */
  --accent-color: #b8a07e;
  /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff;
  /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff;
  /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: rgba(255, 255, 255, 0.6);
  /* The default color of the main navmenu links */
  --nav-hover-color: #ffffff;
  /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff;
  /* Used as the background color for mobile navigation menu */

}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */


.light-background {
  --background-color: #f3f1f0;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #858484;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #9e9e9e;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}


a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}


ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  --background-color: rgba(0, 0, 0, 0);
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --nav-color: rgba(255, 255, 255, 0.6);
  --nav-hover-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 10px;
  transition: all 0.5s;
  z-index: 997;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Base styles for the header */
.header-portfolio {
  align-items: center;
  justify-content: space-between;
  --background-color: rgba(0, 0, 0, 0);
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --nav-color: rgba(255, 255, 255, 0.6);
  --nav-hover-color: #ffffff;
  color: var(--default-color);
  background-color: rgba(82, 78, 68, 0.8); /* Semi-transparent background */
  padding: 10px;
  z-index: 997;
  position: fixed;
  top: 0;
  width: 100%;
  transition: opacity 0.5s ease, visibility 0.5s ease; /* Smooth transitions for visibility */
}

/* When the header is hidden */
.header-portfolio.hidden {
  opacity: 0;           /* Make the header fade out */
  visibility: hidden;    /* Ensure the header is non-interactive when hidden */
}


.header .logo {
  line-height: 1;
}

.header .logo h1 {
  padding-left: 100px;
  padding-top: 10px;
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: var(--heading-color);
}

.header .logo h1:hover {
  color: var(--accent-color) 
}

.scrolled .header {
  --background-color: rgba(82, 78, 68, 0.8);
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  --default-color: #fff;
  transition: 0.3s;
}

.scrolled .header-portfolio {
  --background-color: rgba(82, 78, 68, 0.8);
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  --default-color: #fff;
  transition: 0.3s;
}

/* Navigation Menu - Desktop */
.navmenu {
  padding: 0;
}

.navmenu ul {
  margin: 0;
  padding-right: 25px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navmenu li {
  position: relative;
}

.navmenu a,
.navmenu a:focus {
  color: var(--nav-color);
  padding: 18px 15px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
}

.navmenu a i,
.navmenu a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
  transition: 0.3s;
}

.navmenu li:hover>a,
.navmenu .active,
.navmenu .active:focus {
  color: var(--nav-hover-color);
}

/* Mobile Navigation */
.mobile-nav-toggle {
  display: none;
}

@media (max-width: 765px) {

  .header .logo h1 {
    padding-left: 7px;
    padding-top: 10px;
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: var(--heading-color);
  }

  .mobile-nav-toggle {
    display: block;
    color: var(--nav-color);
    font-size: 28px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 10px;
    right: 10px;
    padding: 10px;
    background-color: rgba(82, 78, 68, 0.8);
    ;
    border-radius: 6px;
    z-index: 9998;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    /* Limit the width */
    margin: 0 auto;
    /* Center the container */
  }


  .mobile-nav-active .navmenu ul {
    display: block;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    z-index: 9999;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

/* Hero Section */
.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  /* Adjusts the visible part of the image */
  z-index: 1;
}


.hero:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 80%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero h2 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
}


.hero p span {
  letter-spacing: 1px;
  border-bottom: 2px solid var(--accent-color);
}

.hero .social-links {
  margin-top: 25px;
}

.hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

.hero .social-links a:hover {
  color: var(--accent-color);
}


.hero .container {
  position: relative;
  z-index: 2;
  color: #fff;
}

.hero .main-name {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-family: var(--heading-font);
  color: var(--accent-color);
  text-align: left;
  /* Make sure text is aligned to the left */
}


.hero p {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: left;
  /* Ensure typed line is aligned to the left */
}

.hero .typed {
  color: #ffffff;
  font-weight: 400;
}



@media (max-width: 768px) {
  .hero .main-name {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }
  
}

/* PHP Email Form Messages
------------------------------*/

.php-email-form .error-message {
  display: none;
  color: #f12c2c;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
} 

 .php-email-form .sent-message {
  display: none;
  color: var(--accent-color);
  background: #ffffff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: var(--surface-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--accent-color);
  border-top-color: var(--surface-color);
  animation: php-email-form-loading 1s linear infinite;
}

@keyframes php-email-form-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
  transform: translateY(-3px); 
}



.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  
  text-align: center;
  position: relative;
}

.page-title:before {
  content: "";
  background-color: color-mix(in srgb, var(--background-color), transparent 50%);
  position: absolute;
  inset: 0;
}

.page-title h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 10px 0;
  scroll-margin-top: 80px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 56px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  margin-top: 70px;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 15px;
}

.section-title p {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .profile-img {
  border: 20px solid var(--accent-color);
  padding: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}



.about .profile-img img {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.col-lg-7.content {
  text-align: justify;
  max-width: 660px;
  margin: 180px auto 0 auto;
  line-height: 1.9;
}


/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services h4 {
  color: var(--accent-color);
  font-size: 48px;
  font-weight: 700;
  font-family: var(--heading-font);
  margin-bottom: 0;
}

.services h4 sup {
  font-size: 28px;
}

.services h4 span {
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 18px;
  font-weight: 500;
}

.services ul {
  padding: 0;
  list-style: none;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  text-align: left;
  line-height: 20px;
}

.services ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.services ul li:last-child {
  padding-bottom: 0;
}

.services ul i {
  color: #059652;
  font-size: 24px;
  padding-right: 3px;
}

.services ul .na {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.services ul .na i {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.services ul .na span {
  text-decoration: line-through;
}

.services .service-item {
  position: relative;
  height: 100%;
  margin-bottom: 30px;
}

.services .service-item .icon {
  margin-right: 20px;
}

.services .service-item .icon i {
  color: var(--accent-color);
  font-size: 40px;
  line-height: 0;
  transition: 0.3s;
}


.services .service-item .title {
  color: var(--heading-color);
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 20px;
  transition: 0.3s;
}

.services .service-item .description {
  font-size: 15px;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  margin-bottom: 10px;
}


.services .service-item:hover .title{
  color: var(--accent-color);
}


/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
.portfolio .portfolio-filters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio .portfolio-filters li {
  height: 25px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px;
  line-height: 1;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.filter-active {
  color: var(--accent-color);
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #b8a07e, #e7e2db); 
  border-image-slice: 1;
  padding-bottom: 3px;
 
}
/* ----------------------------------------------------------- */
/* Horizontal expand gallery */



.horizontal-expand-gallery {
  display: flex; /* Flex layout to keep items in a row */
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  width: 100%; /* Full width gallery */
  overflow: hidden;
}

.hover-item {
  width: 200px; /* Initial narrow width */
  height: 650px; /* Fixed height for vertical images */
  overflow: hidden;
  transition: width 0.4s ease-in-out; /* Smooth horizontal expansion */
}

.hover-item img {
  width: 100%; /* Ensure the image fills the container */
  height: 100%;
  object-fit: cover; /* Ensures the image is cropped appropriately */
  transition: transform 0.4s ease-in-out; /* Optional zoom effect */
}

.hover-item:hover {
  width: 700px; /* Expanded width on hover */
}


/* No spaces between items */
.horizontal-expand-gallery .hover-item {
  margin: 0;
  padding: 0;
  border: none;
}

/* /* Mobile View - Slideshow Layout */
@media (max-width: 768px) {
  .horizontal-expand-gallery {
    display: block; /* Stack items vertically */
    position: relative;
    border-radius: 5px;
    width: 100%; /* Full width */
    height: 60vh; /* Full viewport height for the slideshow */
    overflow: hidden; /* Hide overflow for smooth transitions */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .hover-item {
    position: absolute;
    width: 100%;
    height: 60vh; /* Full screen height */
    opacity: 0; /* Start hidden */
    z-index: 0; /* Set default z-index to 0 */
    pointer-events: none; /* Disables clicks on mobile devices */
    cursor: default;      /* Changes cursor to default on mobile */
    
  }

  .hover-item img {
    width: 100%; /* Ensure the image fills the screen */
    height: 100%;
    object-fit: cover; /* Ensure images fit well */
 
  }

  /* Slideshow animation */
  @keyframes slideshow {
    0% { opacity: 1; z-index: 1; } /* Visible and clickable */
    8% { opacity: 1; z-index: 1; } /* Stay visible */
    17% { opacity: 0; z-index: 0; } /* Fade out and remove from the top layer */
    100% { opacity: 0; z-index: 0; } /* Keep hidden */
  }

  /* Apply the slideshow effect to each image with delays */
  .hover-item:nth-child(1) {
    animation: slideshow 18s infinite;
  }
  
  .hover-item:nth-child(2) {
    animation: slideshow 18s infinite 2s;
  }

  .hover-item:nth-child(3) {
    animation: slideshow 18s infinite 4s;
  }

  .hover-item:nth-child(4) {
    animation: slideshow 18s infinite 6s;
  }

  .hover-item:nth-child(5) {
    animation: slideshow 18s infinite 8s;
  }

  .hover-item:nth-child(6) {
    animation: slideshow 18s infinite 10s;
  }

  .hover-item:nth-child(7) {
    animation: slideshow 18s infinite 12s;
  }

  .hover-item:nth-child(8) {
    animation: slideshow 18s infinite 14s;
  }

  .hover-item:nth-child(9) {
    animation: slideshow 18s infinite 16s;
  }
}

 


/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-wrap {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
}

.contact .info-item i {
  font-size: 20px;
  color: var(--accent-color);
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, var(--accent-color), transparent 40%);
  margin-right: 15px;
}

.contact .info-item h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 2px 0;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.contact .php-email-form {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  /* Slightly reduced shadow */
  padding: 30px;
  /* Reduced padding */
  
 
}

.contact .php-email-form .h-captcha{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 575px) {
  .contact .php-email-form {
    padding: 20px;
  }
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form input[type=phone],
.contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: color-mix(in srgb, var(--background-color), transparent 50%);
  border-color: var(--accent-color);
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form input[type=phone]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 8px var(--accent-color), 
  0 0 12px var(--accent-color); 
  transform: scale(1.02); 
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form input[type=phone]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.contact .php-email-form button[type=submit] {
  color: var(--contrast-color); 
  background: var(--accent-color); 
  border: 0;
  padding: 12px 35px; 
  font-size: 16px; 
  border-radius: 50px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  transition: background 0.4s, transform 0.3s, box-shadow 0.3s; 
  cursor: pointer; 
}

.contact .php-email-form button[type=submit]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%); 
  transform: translateY(-3px); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); 
}


/*--------------------------------------------------------------
# Portfolio Details Section
--------------------------------------------------------------*/


/* .portfolio-content video {
  width: 100%;
  height: 250px;
  object-fit: cover; 
  object-position: center 
} */


/* General video styling for large screens */
.portfolio-item video {
  width: 100%;
  max-width: 350px; 
  height: 623px; 
  overflow: hidden;
  background-color: black;
}


/* Mobile view: 2 videos per row */
@media (max-width: 768px) {
  .portfolio-item  {
    width: calc(50% - 15px); 
    margin-bottom: 15px; 
  }

  .portfolio-item video {
    width: 100%; 
    height: auto; 
  }
}

/* Galleries style */

.masonry-gallery {
  column-count: 4; /* Five columns */
  column-gap: 15px;
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 15px;
  position: relative;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.masonry-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out; /* Smooth transition for image zoom on hover */
}

.masonry-item:hover img {
  /* transform: scale(1.05);  */
  filter: brightness(0.5);
}

.masonry-item:hover .portfolio-info {
  opacity: 1; /* Show the preview icon on hover */
}

.portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-info i {
  font-size: 26px;
  color: #fff;

  padding: 10px;
  border-radius: 50%;
}

.portfolio-info i:hover {
  color: var(--accent)           
}

/* Parallax effect for background */
body {
  background-size: cover;
}

@media (max-width: 768px) {

  .masonry-gallery {
    column-count: 2; /* Five columns */
    column-gap: 5px;
  
  }

  .masonry-item {
    break-inside: avoid;
    margin-bottom: 5px;
    position: relative;
    
  }

  .portfolio-info {
    display: none;

  }

}

/* //footer // */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; 
  font-size: 15px;
  background-color: #f1f1f1
}